.info-title {
  margin-bottom: 71px;
}

.info-list {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;

  @include media(medium) {
    justify-content: flex-start;
  }

  &__item {
    @extend %flex-column;
    max-width: 455px;
    width: 100%;
    gap: 20px;
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    height: 155px;

    @include media(medium) {
      height: 185px;
    }
  }
}
