.no-match {
  @extend %flex-column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;

  &__title {
    @extend %fs-72;
  }

  &__button {
    @extend %fs-34;
    padding: 15px 50px;
    border-radius: 50px;
    background-color: $primary;
    color: $text-light;
    transition: box-shadow 0.3s;

    &:hover {
      color: $text-light;
      box-shadow: 0 0 10px $text-dark;
    }
  }
}
