.team {
  @extend %flex-column;
  padding: 150px 55px 150px 55px;
  align-items: center;
  justify-content: center;

  @include media(large) {
    padding: 345px 55px 275px 140px;
    flex-direction: row;
  }

  &__about {
    max-width: 525px;
    margin: 0 0 100px 0;
    text-align: center;

    @include media(large) {
      margin: 0 80px 0 0;
      text-align: start;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;
    row-gap: 60px;
    max-width: 1200px;
  }

  &__item {
    @extend %flex-column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    min-width: 300px;
    text-align: center;

    @include media(large) {
      min-width: 545px;
      justify-content: flex-start;
      flex-direction: row;
      text-align: start;
    }
  }
}
