@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/templates';

.navigation {
  @extend %flex-column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__list {
    @extend %flex-column;
    @extend %fs-34;
    gap: 25px;
  }
}
