.cover {
  &__aside {
    background-image: url(../../images/cover.png);
  }

  &__aside-alt {
    background-image: url(../../images/cover-alt.png);
  }

  &__aside-primary {
    background-color: $primary;
  }

  &__main-alt {
    @extend %flex-column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__description {
    margin-bottom: 60px;
    height: initial;
    font-weight: 400;

    @include media(medium) {
      max-width: 905px;
      max-height: 290px;
    }

    @include media(large) {
      height: 100%;
    }
  }

  &__iphone {
    width: 100%;
    max-width: 488px;
    height: auto;
    max-height: 894px;
    background: {
      image: url(../../images/screenshot.png);
      position: center;
      size: 78%;
      repeat: no-repeat;
    }
  }
}
