* {
  font: {
    family: Nunito, Arial, Helvetica, sans-serif;
    weight: 400;
  }
  scroll-behavior: smooth;
}

body {
  background-color: $light;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;

  &:hover {
    color: $primary;
  }
}

button {
  border: none;
  outline: none;
  background-color: $light;
  cursor: pointer;
}

.logo {
  position: relative;
  top: -65px;
  margin: 0 auto;

  @include media(medium) {
    position: absolute;
    top: 65px;
    right: 120px;
    z-index: 999;
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

