@font-face {
  font: {
    family: Nunito;
    weight: 400;
  }
  src: url(../../fonts/nunito-v16-latin-regular.woff2);
}

@font-face {
  font: {
    family: Nunito;
    weight: 700;
  }
  src: url(../../fonts/nunito-v16-latin-700.woff2);
}

@font-face {
  font: {
    family: Nunito;
    weight: 800;
  }
  src: url(../../fonts/nunito-v16-latin-800.woff2);
}
