@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/templates';

.blocksTable {
  @extend %flex-column;
  padding: 150px 50px;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__overflow {
    overflow-x: auto;
    max-width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
